name: Wokwi Simulation

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  simulate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v2
        with:
          version: "1.3.1"

      - name: Setup Arduino CLI
        run: |
          arduino-cli core update-index
          arduino-cli core install arduino:renesas_uno

      - name: Compile Sketch
        run: |
          make release

      - name: Test with Wokwi
        uses: wokwi/wokwi-ci-action@v1
        with:
          token: ${{ secrets.WOKWI_CLI_TOKEN }}
          path: / # directory with wokwi.toml, relative to repo's root
          #expect_text: 'Hello World!' # optional
          timeout: 10000
          serial_log_file: "output.txt"

      - name: Print output
        run : |
          cat output.txt

